---
import {type RecursiveMenu} from '~/types';
import { Icon } from 'astro-icon/components';

interface Props {
  menu: RecursiveMenu | RecursiveMenu[];
  className?: string | string[];
  isOpen?: boolean;
}

const { isOpen = false, menu, className } = Astro.props;
const currentPath = Astro.url.pathname;
const currentPathWithoutTrailingBackslash = currentPath.replace(/\/$/, '');

//if menu is not an array then convert it to an array
const menuArray = Array.isArray(menu) ? menu : [menu];
---

<ul class:list={[className]} class="lg:min-w-max" tabindex="0">
  {menuArray.map((entry: RecursiveMenu) => (
    <li class="flex-row">
      <span class="w-full">
        { entry.icon && <Icon name={entry.icon} class="w-4 h-4 !text-secondary inline"></Icon>} 
        <a href={entry.slug} class:list={[{"underline": (currentPathWithoutTrailingBackslash === entry.slug)}, "decoration-primary"]}>{entry.title}</a>
      </span>
      {entry.children ? (
        <Astro.self menu={entry.children} isOpen={isOpen} class:list={[className]}/>
      ) : (
        null
      )}
    </li>
  ))}
</ul>

