---
import { bgColorMap, textColorMap } from "../statics"

interface MainPageCardProps {
  title: string
  subtitle: string
  index: number
  glass: boolean
  bgColor: string
  textColor: string
  buttonColor: string
  buttonTextColor: string
  image: string
  link: string
  textPosition: "left" | "right" | "top" | "bottom" | "text-only"
}

const props = Astro.props.mainPageCardProps as MainPageCardProps;
const html: string | null = Astro.props.html

let bgColor = bgColorMap.get(props.bgColor)
let textColor = textColorMap.get(props.textColor)
let buttonColor = bgColorMap.get(props.buttonColor)
let buttonTextColor = textColorMap.get(props.buttonTextColor)

const cardBaseClass = props.glass ? "card glass" : "card"

const cardClassTextRight = `${cardBaseClass} lg:card-side shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassTextLeft = `${cardBaseClass} lg:card-side shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassSequential = `${cardBaseClass} shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassTextOnly = `${cardBaseClass} shadow-xl p-6 ${bgColor} ${textColor}`
const btnClass = `btn text-lg  ${buttonColor} ${buttonTextColor}`
const articleClass = `prose md:prose-base lg:prose-lg ${textColor}`
---

{
props.textPosition === "left" &&
<div class={cardClassTextLeft}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{props.title}</h1>
    <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
    {html && <article class={articleClass} set:html={html}></article>}
    <div class="card-actions justify-start">
      <a href={props.link} class={btnClass}>Learn more</a>
    </div>
  </div>
  <figure>
    <img src={props.image} alt={props.title}/>
  </figure>
</div>
}

{
props.textPosition === "right" &&
<div class={cardClassTextRight}>
  <figure>
    <img src={props.image} alt={props.title}/>
  </figure>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{props.title}</h1>
    <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
    {html && <article class={articleClass} set:html={html}></article>}
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={props.link} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
props.textPosition === "top" &&
<div class={cardClassSequential}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{props.title}</h1>
    <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
    {html && <article class={articleClass} set:html={html}></article>}
    <figure>
      <img src={props.image} alt={props.title}/>
    </figure>
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={props.link} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
  props.textPosition === "bottom" &&
<div class={cardClassSequential}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{props.title}</h1>
    <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
    <figure>
      <img src={props.image} alt={props.title}/>
    </figure>
    {html && <article class={articleClass} set:html={html}></article>}
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={props.link} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
  props.textPosition === "text-only" &&
<div class={cardClassTextOnly}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{props.title}</h1>
    <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
    {html && <article class={articleClass} set:html={html}></article>}
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={props.link} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}