---
import { bgColorMap, textColorMap } from "../statics"

interface MainPageCardProps {
  title: string
  subtitle: string
  index: number
  bgColor: string
  textColor: string
  buttonColor: string
  buttonTextColor: string
  image: string
  link: string
  textPosition: "left" | "right"
}

const props = Astro.props.mainPageCardProps as MainPageCardProps;
const html: string | null = Astro.props.html

const cardClassTextRight = `card glass ${bgColorMap.get(props.bgColor)} ${textColorMap.get(props.textColor)} lg:card-side shadow-xl p-6`
const cardClassTextLeft = `card ${bgColorMap.get(props.bgColor)} ${textColorMap.get(props.textColor)} lg:card-side shadow-xl p-6`
const btnClass = `btn ${bgColorMap.get(props.buttonColor)} ${textColorMap.get(props.buttonTextColor)} text-lg`
const articleClass = `prose md:prose-base lg:prose-lg ${textColorMap.get(props.textColor)}`
---

<div class={props.textPosition === "left" ? cardClassTextLeft : cardClassTextRight}>
{
    props.textPosition === "left"
    ? 
    <div class="card-body">
      <h1 class="card-title text-4xl mb-4">{props.title}</h1>
      <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
      {html && <article class={articleClass} set:html={html}></article>}
      <div class="card-actions justify-start">
        <a href={props.link} class={btnClass}>Learn more</a>
      </div>
    </div>
    <figure>
      <img src={props.image}/>
    </figure>
     
    : 
    <figure>
      <img src={props.image}/>
    </figure>
    <div class="card-body">
      <h1 class="card-title text-4xl mb-4">{props.title}</h1>
      <h2 class="card-title text-2xl mb-4">{props.subtitle}</h2>
      {html && <article class={articleClass} set:html={html}></article>}
      <div class="card-actions justify-end mt-4 mb-4">
        <a href={props.link} class={btnClass}>Learn more</a>
      </div>
    </div>
  
}
</div>
