---
import { bgColorMap, textColorMap } from "../statics"
import {Image} from 'astro:assets'
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
  card: CollectionEntry<'mainpagecards'>
}

const { card } = Astro.props

const relatedLevel2 = await getEntry(card.data.linkTo);

const { Content } = await card.render()

let bgColor = bgColorMap.get(card.data.styling.bgColor)
let textColor = textColorMap.get(card.data.styling.textColor)
let buttonColor = bgColorMap.get(card.data.styling.buttonColor)
let buttonTextColor = textColorMap.get(card.data.styling.buttonTextColor)

const cardBaseClass = card.data.styling.glass ? "card glass max-md:rounded-none lg:!items-center" : "card max-md:rounded-none lg:!items-center"

const cardClassTextRight = `${cardBaseClass} lg:card-side shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassTextLeft = `${cardBaseClass} lg:card-side shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassSequential = `${cardBaseClass} shadow-xl p-6 ${bgColor} ${textColor}`
const cardClassTextOnly = `${cardBaseClass} shadow-xl p-6 ${bgColor} ${textColor}`
const btnClass = `btn text-lg  ${buttonColor} ${buttonTextColor}`
const articleClass = `prose md:prose-base lg:prose-lg ${textColor}`
const imageContainerClass = "max-w-md"
---

{
card.data.styling.textPosition === "left" &&
<div class={cardClassTextLeft}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{card.data.title}</h1>
    <h2 class="card-title text-2xl mb-4">{card.data.subtitle}</h2>
    <article class={articleClass}>
      <Content />
    </article>
    <div class="card-actions justify-start">
      <a href={relatedLevel2.slug} class={btnClass}>Learn more</a>
    </div>
  </div>
  <div class={imageContainerClass}>
    <Image src={card.data.image} alt={card.data.title} />
  </div>
</div>
}

{
card.data.styling.textPosition === "right" &&
<div class={cardClassTextRight}>
  <div class={imageContainerClass}>
    <Image src={card.data.image} alt={card.data.title} />
  </div>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{card.data.title}</h1>
    <h2 class="card-title text-2xl mb-4">{card.data.subtitle}</h2>
    <article class={articleClass}>
      <Content />
    </article>
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={relatedLevel2.slug} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
card.data.styling.textPosition === "top" &&
<div class={cardClassSequential}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{card.data.title}</h1>
    <h2 class="card-title text-2xl mb-4">{card.data.subtitle}</h2>
    <article class={articleClass}>
      <Content />
    </article>
    <Image src={card.data.image} alt={card.data.title} />
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={relatedLevel2.slug} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
card.data.styling.textPosition === "bottom" &&
<div class={cardClassSequential}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{card.data.title}</h1>
    <h2 class="card-title text-2xl mb-4">{card.data.subtitle}</h2>
    <Image src={card.data.image} alt={card.data.title} />
    <article class={articleClass}>
      <Content />
    </article>
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={relatedLevel2.slug} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}
{
card.data.styling.textPosition === "text-only" &&
<div class={cardClassTextOnly}>
  <div class="card-body">
    <h1 class="card-title text-4xl mb-4">{card.data.title}</h1>
    <h2 class="card-title text-2xl mb-4">{card.data.subtitle}</h2>
    <article class={articleClass}>
      <Content />
    </article>
    <div class="card-actions justify-end mt-4 mb-4">
      <a href={relatedLevel2.slug} class={btnClass}>Learn more</a>
    </div>
  </div>
</div>
}