---
import { type RecursiveMenu } from "~/types"
import Menu from "./navbar/Menu.astro"
import NavButton from './navbar/NavButton.astro';
import { Image } from 'astro:assets';
import logo from '~/assets/images/DataPLANT_logo_minimal_square_bg_transparent.svg';
import { URLS } from "~/statics";

export const MainNav: RecursiveMenu[] = [
  { title: 'DataPLANT', slug: '/', children: [
    { title: 'About Us', slug: '/about' },
    { title: 'Information', slug: '/information'},
    { title: 'RDM As A Service', slug: '/rdm-as-a-service' },
    { title: 'Participation', slug: '/participation' },
    { title: 'Resources', slug: '/resources' },
    { title: 'Support', slug: '/support' },
  ]},
  { title: 'News', slug: '/news' },
  { title: 'Events', slug: '/events' },
  { title: 'Data Hubs', slug: '/arc-data-hub' },
  { 
    title: 'Tools',
    slug: '/toolbox',
    children: [
      { title: 'ARCitect', slug: 'https://nfdi4plants.org/nfdi4plants.knowledgebase/docs/ARCitect-Manual/index.html' },
      { title: 'Swate', slug: 'https://swate-alpha.nfdi4plants.org/' },
      { title: 'DataPLAN', slug: 'https://dmpg.nfdi4plants.org/' },
      { title: 'ARCManager', slug: 'https://www.nfdi4plants.de/nfdi4plants.knowledgebase/docs/ARCmanager-manual/00_index.html' },
    ]
  },
]

---

<div class="navbar py-0 bg-secondary text-secondary-content sticky top-0 z-50 min-h-[3rem] shadow shadow-white">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow bg-base-100 text-base-content">
        {MainNav.map((navItem) => 
          navItem.children 
            ? <li>
              <a href={navItem.slug}>{navItem.title}</a>
              <Menu isOpen={true} menu={navItem.children} className=""></Menu>
            </li>
            : <li><a href={navItem.slug}>{navItem.title}</a></li>
        )}
      </ul>
    </div>
    <a class="px-2" href="/" title="Home">
      <Image src={logo} alt="logo" class="h-9 w-auto"></Image>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex gap-1 h-full">
    {MainNav.map((navItem) => 
      <div class="dropdown dropdown-hover">
        {
          navItem.slug 
            ? <NavButton hasChildren={navItem.children ? true : false} href={navItem.slug}>{navItem.title}</NavButton>
            : <NavButton hasChildren={navItem.children ? true : false} >{navItem.title}</NavButton>
        }
        {navItem.children && 
          <Menu isOpen={true} menu={navItem.children} className="dropdown-content menu bg-base-100 text-base-content lg:border-r-2 min-h-full w-80 p-4 menu-sm"></Menu>
        }
      </div>
    )}
  </div>
  <div class="navbar-end">
    <NavButton href={URLS.GITLAB} props={{title: "DataHub"}}>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" aria-hidden="true" focusable="false" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path fill="currentColor" d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z"/>
        </svg>
      </span>
    </NavButton>
    <NavButton href={URLS.HELPDESK} props={{title: "Helpdesk"}}> 
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" aria-hidden="true" focusable="false" viewBox="0 0 512 512" >
          <path fill="currentColor" d="M191.1 224c0-17.72-14.34-32.04-32-32.04L144 192c-35.34 0-64 28.66-64 64.08v47.79C80 339.3 108.7 368 144 368H160c17.66 0 32-14.36 32-32.06L191.1 224zM256 0C112.9 0 4.583 119.1 .0208 256L0 296C0 309.3 10.75 320 23.1 320S48 309.3 48 296V256c0-114.7 93.34-207.8 208-207.8C370.7 48.2 464 141.3 464 256v144c0 22.09-17.91 40-40 40h-110.7C305 425.7 289.7 416 272 416H241.8c-23.21 0-44.5 15.69-48.87 38.49C187 485.2 210.4 512 239.1 512H272c17.72 0 33.03-9.711 41.34-24H424c48.6 0 88-39.4 88-88V256C507.4 119.1 399.1 0 256 0zM368 368c35.34 0 64-28.7 64-64.13V256.1C432 220.7 403.3 192 368 192l-16 0c-17.66 0-32 14.34-32 32.04L320 335.9C320 353.7 334.3 368 352 368H368z"/>
        </svg>
      </span>
    </NavButton>
    <NavButton props={{title: "E-Mail"}} href="javascript:location='mailto:\u0069\u006e\u0066\u006f\u0040\u006e\u0066\u0064\u0069\u0034\u0070\u006c\u0061\u006e\u0074\u0073\u002e\u006f\u0072\u0067';void 0">
      <!-- http://www.email-obfuscator.com -->
      <span class="navbar-item" title="E-Mail" >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" aria-hidden="true" focusable="false" viewBox="0 0 512 512" >
          <path fill="currentColor" d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/>
        </svg>
      </span>
    </NavButton>
    <NavButton href={URLS.ACCOUNT_MANAGEMENT} props={{title: "Account Management"}}>
      <span>
        <!-- https://fontawesome.com/v6.0/docs/web/add-icons/svg-bare -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" aria-hidden="true" focusable="false" viewBox="0 0 448 512">
            <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
        </svg>
      </span  >
    </NavButton>
    <div class="min-h-[1rem] m-1 border border-solid border-lightblue"></div>
    <div class="dropdown dropdown-hover dropdown-end">
      <NavButton props={{title: "Socials"}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon-size"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z"/></svg>
      </NavButton>
      <Menu 
        isOpen={true} 
        menu={[
          { title: "Matrix", slug: URLS.SOCIAL_MATRIX, icon: "tabler:brand-matrix"},
          { title: 'YouTube', slug: URLS.SOCIAL_YOUTUBE, icon: "tabler:brand-youtube" },
          { title: 'Twitter-X', slug: URLS.SOCIAL_TWITTER, icon: "tabler:brand-x" },
          { title: "Bluesky", slug: URLS.SOCIAL_BLUESKY, icon: "tabler:brand-bluesky" },
          { title: 'Mastodon', slug: URLS.SOCIAL_MASTODOON, icon: "tabler:brand-mastodon"}
        ]} 
        className="dropdown-content menu bg-base-100 text-base-content lg:border-r-2 min-h-full w-80 p-4 menu-sm"></Menu>
    </div>
    <NavButton href={URLS.SOCIAL_GITHUB} props={{title: "GitHub"}}>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" aria-hidden="true" focusable="false" viewBox="0 0 496 512">
          <path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
        </svg>
      </span>
    </NavButton>
    <NavButton href={URLS.SOCIAL_ZENODO} props={{title: "Zenodo", style: "font-weight: bold; font-size: 1.3rem"}}>
      <span>
        Z
      </span>
    </NavButton>
  </div>
</div>

<style>
.icon-size {
  @apply w-4 h-5 lg:w-5 lg:h-5 
}

</style>