---
import type { CollectionEntry } from 'astro:content';
import { bgColorMap, textColorMap, textHoverColorMap} from "../statics"
import {Image} from 'astro:assets';
import Hero2 from './widgets/Hero2.astro';

interface Props {
  hero: CollectionEntry<'subpage'>;
}

const hero = Astro.props.hero;
const props = hero.data;
// const sectionLinks = Astro.props.sectionLinks as SectionLink[]

const { Content, headings } = await hero.render();

let bgColor = props.styling?.bgColor && bgColorMap.get(props.styling.bgColor)
let textColor = props.styling?.textColor && textColorMap.get(props.styling.textColor)
let titleColor = props.styling?.titleColor && textColorMap.get(props.styling.titleColor)
let headerColor = props.styling?.headerColor && textColorMap.get(props.styling.headerColor)
let emphasisColor = props.styling?.emphasisColor && textHoverColorMap.get(props.styling.emphasisColor)

let heroContentClass = ""
if (props.styling?.textPosition) {
  const tp = props.styling.textPosition
  if (tp === "left") {
    heroContentClass = "hero-content flex-col lg:flex-row-reverse"
  } else if (tp === "right") {
    heroContentClass = "hero-content flex-col-reverse lg:flex-row"
  } else if (tp === "top") {
    heroContentClass = "hero-content flex-col-reverse"
  } else if (tp === "bottom") {
    heroContentClass = "hero-content flex-col"
  } else {
    heroContentClass = "hero-content flex-col lg:flex-row"
  }
}
---

<Hero2
    id={hero.id}
    tagline={hero.data.tagline}
    actions={[
      // { variant: 'secondary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      // { variant: 'secondary', text: 'Learn more', href: '#features' },
    ]}
    image={hero.data.image}
  >
    <Fragment slot="title">
      <div class:list={[titleColor]} set:html={hero.data.title}></div>
    </Fragment>
    <Fragment slot="bg">
      <div class:list={["absolute inset-0", bgColor]}></div>
    </Fragment>
    <Fragment slot="subtitle">
      <div class:list={["prose-lg font-medium text-justify", textColor]}>
        <Content />
      </div>
    </Fragment>

</Hero2>