---
import type { CollectionEntry } from 'astro:content';
import { bgColorMap, textColorMap, textHoverColorMap, type SectionLink, type SubPageHeroProps } from "../statics"
import {Image} from 'astro:assets';

interface Props {
  hero: CollectionEntry<'subpage'>;
}

const hero = Astro.props.hero;
const props = hero.data;
// const sectionLinks = Astro.props.sectionLinks as SectionLink[]

const { Content, headings } = await hero.render();

let bgColor = props.styling?.bgColor && bgColorMap.get(props.styling.bgColor)
let textColor = props.styling?.textColor && textColorMap.get(props.styling.textColor)
let titleColor = props.styling?.titleColor && textColorMap.get(props.styling.titleColor)
let headerColor = props.styling?.headerColor && textColorMap.get(props.styling.headerColor)
let emphasisColor = props.styling?.emphasisColor && textHoverColorMap.get(props.styling.emphasisColor)

const heroClass = `hero min-h-[60vh] ${bgColor} ${textColor}`
let heroContentClass = ""
if (props.styling?.textPosition) {
  const tp = props.styling.textPosition
  if (tp === "left") {
    heroContentClass = "hero-content flex-col lg:flex-row-reverse"
  } else if (tp === "right") {
    heroContentClass = "hero-content flex-col-reverse lg:flex-row"
  } else if (tp === "top") {
    heroContentClass = "hero-content flex-col-reverse"
  } else if (tp === "bottom") {
    heroContentClass = "hero-content flex-col"
  } else {
    heroContentClass = "hero-content flex-col lg:flex-row"
  }
}
---

<div class={heroClass}>
  <div class={heroContentClass}>
    {(!(props.styling?.textPosition === "text-only") && props.image) &&
      <Image src={props.image} class="max-h-[600px] w-auto" alt={props.title}/>
    }
    <div>
      <h1 class={`text-5xl font-bold mb-6 ${titleColor}`}>{props.title}</h1>
      <h2 class="text-xl mb-4">{props.subtitle}</h1>
      <Content />
      <!-- {
        sectionLinks.map((link) => (
          <div class="mb-2">
            <h3><a href={`#${link.slug}`} class={`text-xl font-bold ${headerColor} ${emphasisColor}`}># {link.title}</a></h3>
            <p class="text-base">{link.summary}</p>
          </div>
        ))
      } -->
    </div>
  </div>
</div>