---
import { type ReducedEvent } from '~/util/EventUtil.ts';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import SocialShare from '~/components/widgets/SocialShare.astro';
import EventInfoList from '~/components/events/EventInfoList';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
  event: ReducedEvent
}

const { event } = Astro.props;

const { Content, headings } = await event.render();

const frontmatter= {
  ...event.data
}

const lowestDepth = Math.min(...headings.map(h => h.depth));

(event.data.registration && event.data.registration.description &&
  headings.unshift({depth: lowestDepth, text: "#registration", slug: "registration"})
);

headings.unshift(
  {depth: lowestDepth, text: "#" + event.data.title, slug: event.slug},
  {depth: lowestDepth, text: "#info", slug: "info"},
  {depth: lowestDepth, text: "#where", slug: "where"},
);

function generateOrganizerHtml(organizer: any) {
  const name = organizer?.name ? `${organizer.name}` : "";
  const affiliation = organizer?.affiliation ? `${organizer.affiliation}` : "";
  const url = organizer?.url ? `<a href="${organizer.url}" target="_blank">more</a>` : "";
  
  return `<div><b>Organized by</b> ${[name, affiliation, url].filter(Boolean).join(" | ")}</div>`;
}

const additionalMetadata: ({
    icon: string;
    __html: string;
    ariaLabel: string;
} | undefined)[] = [
  (event.data.organizer && {
    icon: "tabler:affiliate", 
    __html: generateOrganizerHtml(event.data.organizer), 
    ariaLabel: "Organizer"
  }),
  (event.data.external ? {
    icon: "tabler:external-link",
    __html: `<a href="${event.data.external}" target="_blank">Event Website</a>`,
    ariaLabel: "Event Website"
  } : undefined)
]

---


<MarkdownLayout frontmatter={frontmatter} headings={headings}>
  <Fragment slot="before-content">
    <section class="prose lg:prose-lg xl:prose-xl grow p-5 overflow-hidden sm:overflow-visible">
      <div class="text-center">
        <h1 id={event.slug}>{event.data.title}</h1>
        <SocialShare text={event.data.title} url={Astro.url} />
      </div>
      <div class="event-section" set:html={event.data.excerpt} />
      <div class="event-section">
        <h3 id="info">
          <Icon name="tabler:info-square" class="inline text-primary" title="Location"/>
          Info
        </h3>
      </div>
      <EventInfoList 
        event={event} 
        client:load 
        additional={additionalMetadata} />
      <!-- where display -->
      <div class="event-section">
        <h3 id="where" class="text-center">
          <Icon name="tabler:location" class="inline text-primary" title="Location"/>
          Where?
        </h3>
        <p>
          <div>{event.data.location.name}</div>
          { event.data.location.url &&
            <a class="underline !text-secondary" href={event.data.location.url}>Find more!</a>
          }
        </p>
        { event.data.location.address &&
          <p set:html={event.data.location.address}></p>
        }
      </div>
      {
        event.data.repeating && 
        <div class="event-section">
          <h3>
            Repeating Event
          </h3>
          <p>
            This event is part of a returning series! Check out all dates for this event here: <a href={`/events/${event.slug}`}>All Dates</a>
          </p>
        </div>
      }
      {event.data.registration && event.data.registration.description && (
        <div class="event-section bg-secondary !text-secondary-content rounded shadow">
          <h3 id="registration" class="!mt-0 !text-primary">
            <Icon name="tabler:clipboard-list" class="inline" title="Registration"/>
            Registration
          </h3>
          <p> 
            <span set:html={event.data.registration.description}></span>
          </p>
          {event.data.registration.seats && (
            <h4 class="!text-primary mb-0">Maximum number of participants</h4>
            <p class="text-lg">
               <Icon name="tabler:armchair" class="inline" title="Maximum number of participants"/> {event.data.registration.seats}
            </p>
          )}
          {event.data.registration.url && (
            <a href={event.data.registration.url} class="btn btn-primary btn-wide" target="_blank" rel="noopener">Register</a>
          )}
        </div>
      )}
      <div class="flex justify-center">
        {event.data.image && <Image src={event.data.image} alt={event.data.title}></Image>}
      </div>
    </section>
  </Fragment >
  <Content />
</MarkdownLayout>

<style>

  .event-section {
    @apply text-center prose lg:prose-lg max-w-none p-4
  }

</style>