---
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import { getCollection, getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import SocialShare from '~/components/widgets/SocialShare.astro';
import EventInfoList from '~/components/events/EventInfoList.astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const eventsCollection = await getCollection('events')
  return eventsCollection.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { event: entry }
    }
  });
}

interface Props {
  event: CollectionEntry<'events'>
}

const { event } = Astro.props;

const { Content, headings } = await event.render();

const frontmatter= {
  ...event.data
}

const lowestDepth = Math.min(...headings.map(h => h.depth));

headings.unshift({depth: lowestDepth, text: "#" + event.data.title, slug: event.slug});

---


<MarkdownLayout frontmatter={frontmatter} headings={headings}>
  <Fragment slot="before-content">
    <section class="prose lg:prose-lg xl:prose-xl grow p-5 overflow-hidden sm:overflow-visible">
      <div class="text-center">
        <h1 id={event.slug}>{event.data.title}</h1>
        <SocialShare text={event.data.title} url={Astro.url} />
      </div>
      <EventInfoList event={event}/>
      {event.data.image && <Image src={event.data.image} alt={event.data.title}></Image>}
    </section>
  </Fragment >
  <Content />
</MarkdownLayout>