---
import Layout from '~/layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import ContentComponent from '~/components/widgets/Content.astro';
import { Icon } from 'astro-icon/components';
import SocialShare from '~/components/widgets/SocialShare.astro';

export async function getStaticPaths() {
  const eventsCollection = await getCollection('events')
  return eventsCollection.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { file: entry }
    }
  });

}

const { file } = Astro.props;

const { Content, headings } = await file.render();

const inPageNavigation: any = []

if (headings) {
  headings.forEach(heading => {
    inPageNavigation.push({
      icon: "tabler:chevron-right",
      callToAction: {
        text: heading.text,
        href: "#" + heading.slug,
      }
    })
  })  
} 

const formatterDate = new Intl.DateTimeFormat('en-US', { year: "numeric", month: "long", day: "numeric"});
// const formatterDate = new Intl.DateTimeFormat('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' });
const formatterTime = new Intl.DateTimeFormat('en-US', { hour: '2-digit', minute: '2-digit' });
---

<Layout title={"Event - " + file.data.title}>
  <ContentComponent 
    id={file.slug}
    image={file.data.image}
    title={file.data.title}
    tagline={file.data.category + " – " + file.data.mode}
    columns={inPageNavigation.length}
    items={inPageNavigation}
    >
    <Fragment slot="content">
      <div class="prose lg:prose-lg xl:prose-xl">
        <div set:html={file.data.excerpt}></div>
        <h4>Organizer</h4>
        <!-- {file.data.organizer && <p set:html={file.data.organizer.name + ", " +file.data.organizer.affiliation}></p>} -->
        {file.data.organizer && <a href={file.data.organizer.url}>{file.data.organizer.name + ", " +file.data.organizer.affiliation}</a>}
        {file.data.tutors && 
          <h4>Tutors</h4>
          <p> {file.data.tutors.join(', ')}</p>
        } 
        <h4>Location</h4>
        <div set:html={file.data.location.address}></div>   
        {file.data.location.url && <a href={file.data.location.url}>Directions</a>}
        {file.data.audience && <h4>Audience</h4>
          <p> This event is made for {file.data.audience.join(' and ')}</p>
        }           
        {file.data.registration && <h4>Registration</h4>}
          {file.data.registration?.description && <p>{file.data.registration?.description}</p>}
          {file.data.registration?.url && <li>Please register <a href={file.data.registration?.url}>here.</a></li>}
          {file.data.registration?.deadline && <li>Registration closes on {formatterDate.format(file.data.registration?.deadline)} </li>}     
          {file.data.registration?.seats && <li>Maximum number of participants: {file.data.registration?.seats}.</li>}        <ul class="!pl-0">
        
          <li class="flex items-center gap-1">
            <Icon name="tabler:calendar-time" class="w-4 h-4" />
            {formatterDate.format(file.data.start) + " " + formatterTime.format(file.data.start)}
            -
            {formatterDate.format(file.data.end) + " " + formatterTime.format(file.data.end)}
          </li>
          { file.data.readMoreURL &&
            <li class="flex items-center gap-1">
              <Icon name="tabler:world" class="w-4 h-4" />
              <a href={file.data.readMoreURL}>Read More</a>
            </li>
          }
        </ul>
      </div>      
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50"></div>
    </Fragment>
    <Fragment slot="subtitle">
      <SocialShare text={file.data.title} url={Astro.url} />
    </Fragment>
  </ContentComponent>
  <div class="w-full p-2 flex grow justify-center lg:py-10">
    <div class="prose lg:prose-lg xl:prose-xl">
      <Content />
    </div>
  </div>
</Layout>

<style is:global>
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

</style>